include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = ''
  -path         = ''
  -banner       = ''
  -Btitle        = ''
  -Bdescription  = ''
  -Bimg     = ''

doctype html
html
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title=title
    link(rel='stylesheet' href=path+'assets/css/style.css')
  body
    include ../_modules/header
    main.l-main
      if banner != 'false'
        .c-banner
          .c-banner__content
            h1.c-banner__ttl=Btitle
            p.c-banner__sub=Bdescription
          .c-banner__item 
            img(src=Bimg alt="Be Wild Be Wonder")
      block container
    include ../_modules/footer
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src=path+"assets/js/common.js")
      